{% extends 'pedido/base1.html' %}

{% block title %}Ordenes Activas{% endblock %}

{% block header_title %}Ordenes Activas{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-8 offset-md-2">
      <h2>Ordenes Activas</h2>
      <a href="{% url 'formulario_creacion' %}" class="btn btn-primary">Crear Nueva Orden</a>
      <ul class="list-group">
         {% for pedido in pedidos %}
         <li class="list-group-item">
            <a href="{% url 'ver_pedido' pedido.id %}">FECHA: {{ pedido.fecha }} - CANTIDAD: {{ pedido.cantidad }}</a>
            <form action="{% url 'eliminar_pedido' pedido.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>
{% endblock %}
